@model Sang5_01_07.Models.Reservations

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seats.SeatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats.SeatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shows.CinemaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shows.CinemaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
